
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway&subset=latin-ext);

// Variables
$brand-color: #df405a; //#E95C40;
$text: #2E2F34;
$background: #F9F9F9;
$white: #FDFDFD;
$light-gray: #DDE3EA;
$dark-gray: #86858D;

// Overwrite
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $brand-color;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $background;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  color: $text;
}

h1 { font-size: 45px; }
h2 { font-size: 40px; }
h3 { font-size: 35px; }
h4 { font-size: 30px; }
h5 { font-size: 25px; }
h6 { font-size: 20px; }

a {
  outline: none;
}

.navbar-default {
  background-color: $white;
  border-color: $light-gray;

  .navbar-nav > {
    li > a {
      color: $dark-gray;
      &:focus {
        color: $dark-gray;
      }
    }
    .active > a {
      color: $text;
      background-color: $white;
      &:focus, &:hover {
        color: $text;
        background-color: $white;
      }
    }
  }

  .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: $brand-color;
    &:focus {
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      color: $brand-color;
    }
    &:hover {
      color: $brand-color;
    }
  }
  .navbar-nav > li > a:hover {
    color: $dark-gray;
    text-decoration: underline;
  }
}

.pager {
  li {
    a {
      display: inline-block;
      color: $text;
      padding: 10px 30px;
      font-family: 'Oswald', sans-serif;
      font-weight: normal;
      font-size: 18px;
      background-color: $white;
      border: 2px solid $brand-color;
      border-radius: 15px;

      transition: all .3s ease-out 0s;
      -webkit-transition: all .3s ease-out 0s;
      -moz-transition: all .3s ease-out 0s;
      -o-transition: all .3s ease-out 0s;

      &:focus {
        display: inline-block;
        color: $text;
        padding: 10px 30px;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 18px;
        background-color: $white;
        border: 2px solid $brand-color;
        border-radius: 15px;
      }

      &:hover {
        background-color: $brand-color;
        color: $white;
        border: 2px solid $brand-color;

        transition: all .3s ease-out 0s;
        -webkit-transition: all .3s ease-out 0s;
        -moz-transition: all .3s ease-out 0s;
        -o-transition: all .3s ease-out 0s;
      }
    }
  }
}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    color: lighten($text, 15%);
    cursor: not-allowed;
    border: 2px solid lighten($brand-color, 15%);
    background-color: $white;
}

.thumbnail {
  border: 1px solid $light-gray;

  transition: all .3s ease-out 0s;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;

  &:hover {
    border-color: $brand-color;

    transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
  }

  a {
    outline: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.Select {
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Select-clear {
    display: none;
    font-size: 18px;
    line-height: 1;
}

// Custom
.close-modal {
    display:block;
    width:50px;
    height:50px;
    line-height:43px;
    cursor: pointer;
    border-radius: 50%;
    color:$white;
    text-align:center;
    text-decoration:none;
    background: lighten($brand-color, 10%);
    font-family: "Raleway", sans-serif;
    font-size:35px;
    font-weight:normal;
    float: right;
    margin-bottom: 10px;

    transition: all .3s ease-out 0s;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;

    &:hover {
      color: $white;
      background: $brand-color;

      transition: all .3s ease-out 0s;
      -webkit-transition: all .3s ease-out 0s;
      -moz-transition: all .3s ease-out 0s;
      -o-transition: all .3s ease-out 0s;
    }
  }


.loading {
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: $brand-color;
}

.scroll-to-top {
  color: $brand-color;
}

.placeholder {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 300px;
  color: $brand-color;
  vertical-align: center;
  line-height: 300px
}

.main-box {
  background: $white;
  border: 1px solid $light-gray;
  padding: 0 20px 20px 20px;
  margin: 0 0 20px;

  .main-box-header {
    // border-bottom: 1px solid $brand-color;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px 0;
    align-items: baseline;
    width: 95%;
  }

  .main-box-content {
    margin-top: 20px;
    outline: none
  }
}


// Isao

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 500px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: $text;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

.input__field--isao {
  z-index: 10;
  padding: 0.75em 0.1em 0.25em;
  width: 100%;
  background: transparent;
  color: $text;
}

.input__label--isao {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  color: $dark-gray;
  text-align: left;
}

.input__label--isao::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 7px;
  background: $dark-gray;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--isao::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 0.15em;
  color: $brand-color;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.6s;
  transition: opacity 0.6s, transform 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::before {
  background-color: $brand-color;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
}

.input__field--isao:focus + .input__label--isao {
  pointer-events: none;
}

.input__field--isao:focus + .input__label--isao::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__label-content--isao {
  padding: 0.75em 0.15em;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

// Select

/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: $light-gray;
  font-family: 'Oswald', sans-serif;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs-select:focus {
  outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
  display: none;
}

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span {
  padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
  content: '\25BE';
  right: 1em;
}

.cs-select .cs-selected span::after {
  content: '\2713';
  margin-left: 1em;
}

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
  z-index: 200;
}

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: $brand-color;
  visibility: hidden;
}

.cs-select.cs-active .cs-options {
  visibility: visible;
}

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cs-select ul span {
  padding: 1em;
}

.cs-select ul li.cs-focus span {
  background-color: $brand-color;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
  cursor: default;
}

@font-face {
  font-family: 'icomoon';
  src:url('../images/icomoon/icomoon.woff') format('woff'),
    url('../images/icomoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.cs-skin-elastic {
  background: transparent;
  font-size: 1.5em;
  font-weight: 400;
  font-size: 16px;
  color: $dark-gray;
}

@media screen and (max-width: 30em) {
  div.cs-skin-elastic { font-size: 1em; }
}

.cs-placeholder {
  color: $brand-color;
  font-size: 20px;
}

.cs-options {
  font-family: 'Raleway', sans-serif;
}

.cs-skin-elastic > span {
  background-color: $white;
  z-index: 100;
}

.cs-skin-elastic > span::after {
  font-family: 'icomoon';
  content: '\e005';
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  visibility: visible;
  padding-bottom: 1.25em;
  pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale3d(1,0,1);
  transform: scale3d(1,0,1);
  background: #fff;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  -webkit-transform: translate3d(0,-25px,0);
  transform: translate3d(0,-25px,0);
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

/* Optional delays (problematic in IE 11/Win) */
/*
.cs-skin-elastic.cs-active .cs-options ul li:first-child {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
} 

/* with more items, more delays declarations are needed */


.cs-skin-elastic .cs-options span {
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
  padding: 0.8em 1em 0.8em 4em;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
  color: $brand-color;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
  content: '';
}

@-webkit-keyframes expand { 
  0% { -webkit-transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1) }
  100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
  0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
  100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce { 
  0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
  0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
